<hibernate-configuration>

    <session-factory>
        <property name="connection.url">jdbc:postgresql://localhost/postgres</property>
    <property name="connection.driver_class">org.postgresql.Driver</property>
<property name="connection.username">root</property>
<property name="connection.password"/>
<property name="connection.pool_size">1</property>
<property name="current_session_context_class">thread</property>
<property name="show_sql">true</property>
<property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>

<mapping resource="myhibernate/Bus.hbm.xml"/>
<mapping resource="myhibernate/Driver.hbm.xml"/>
<mapping resource="myhibernate/Route.hbm.xml"/>

        </session-factory>
        </hibernate-configuration>